@import "../fonts/OpenSans/stylesheet.css";
@import "../fonts/Poppins/stylesheet.css";
@import "../fonts/font-awesome/css/fontawesome.min.css";
@import "../fonts/montserrat/stylesheet.css";
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.contacts__contact {
  /* webkit */
  /* Firefox 19+ */
  /* Firefox 18- */
  /* IE */
  /* webkit */
  /* Firefox 19+ */
  /* Firefox 18- */
  /* IE */
}
.contacts__contact ::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}
.contacts__contact ::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.contacts__contact :-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.contacts__contact :-ms-input-placeholder {
  color: #FFF;
  opacity: 1;
}
.contacts__contact :focus::-webkit-input-placeholder {
  opacity: .3;
}
.contacts__contact :focus::-moz-placeholder {
  opacity: .3;
}
.contacts__contact :focus:-moz-placeholder {
  opacity: .3;
}
.contacts__contact :focus:-ms-input-placeholder {
  opacity: .3;
}
@-webkit-keyframes pulse-gray {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(144, 144, 144, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(144, 144, 144, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(144, 144, 144, 0);
  }
}
@keyframes pulse-gray {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(144, 144, 144, 0.4);
    box-shadow: 0 0 0 0 rgba(144, 144, 144, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(144, 144, 144, 0);
    box-shadow: 0 0 0 15px rgba(144, 144, 144, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(144, 144, 144, 0);
    box-shadow: 0 0 0 0 rgba(144, 144, 144, 0);
  }
}
@-webkit-keyframes pulse-blue {
  0% {
    -webkit-box-shadow: 0 0 0 0 #0000ff;
  }
  99% {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
  }
}
@keyframes pulse-blue {
  0% {
    -moz-box-shadow: 0 0 0 0 #0000ff;
    box-shadow: 0 0 0 0 #0000ff;
  }
  99% {
    -moz-box-shadow: 0 0 0 15px rgba(0, 0, 255, 0);
    box-shadow: 0 0 0 15px rgba(0, 0, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
  }
}
@-webkit-keyframes pulse-red {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ff0000;
  }
  99% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes pulse-red {
  0% {
    -moz-box-shadow: 0 0 0 0 #ff0000;
    box-shadow: 0 0 0 0 #ff0000;
  }
  99% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes bus-dr {
  99.99% {
    transform: translate(-2600px);
  }
  100% {
    transform: translate(-2600px) rotateY(-180deg);
  }
}
@keyframes bus-dr-dr {
  0% {
    transform: translate(-2600px) rotateY(-180deg);
  }
  99.99% {
    transform: translate(0) rotateY(-180deg);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes scale {
  100% {
    transform: scale(1.15) rotate(-45deg);
  }
}
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
 */
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
 */
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.5em;
  padding: 2em 1em;
  background-color: #ED1F46;
  color: #FFF;
}
.browserupgrade a {
  color: #FFF;
  font-weight: 800;
}
i {
  font-family: fontawesome !important;
}
body,
html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  min-width: 320px;
}
.blue-bg {
  position: relative;
}
.blue-bg:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 80, 213, 0.95);
  z-index: 1;
}
.block {
  padding: 30px;
  background-color: #0050D5;
  margin-top: 10px;
}
.block--g {
  background-color: #89bd3a;
}
.block--w {
  background-color: #fff;
}
.block--img {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #fff;
}
.heading {
  font-size: 62.5px;
  font-weight: 500;
  color: #FFF;
}
.heading--big {
  font-size: calc(66.66666667px);
}
.heading--biger {
  font-size: 72px;
}
.heading--small {
  font-size: 36px;
}
.heading--smaller {
  font-size: 32px;
}
.heading--light {
  font-weight: 300;
}
.heading--semi {
  font-weight: 600;
}
.heading-regular {
  font-weight: 400;
}
.heading--uppercase {
  text-transform: uppercase;
}
.heading--lowercase {
  text-transform: lowercase;
}
.heading--black {
  color: #000;
}
.button {
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  -webkit-box-shadow: 1px 1px 20px #0017f4;
  box-shadow: 1px 1px 20px #0017f4;
  transition: all .15s linear;
  width: 120px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.button:hover,
.button:focus,
.button:active {
  outline: none;
}
@media (min-width: 992px) {
  .button {
    width: 145px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .button {
    width: 165px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    font-size: 18.75px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.button--bigger {
  width: 170px;
  padding-top: 16px;
  padding-bottom: 14px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
@media (min-width: 992px) {
  .button--bigger {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 18px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
}
@media (min-width: 1200px) {
  .button--bigger {
    width: 225px;
    padding-top: 22px;
    padding-bottom: 20px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
}
.button--gray-shadow {
  -webkit-box-shadow: 1px 1px 20px #9c9c9c;
  box-shadow: 1px 1px 20px #9c9c9c;
}
.button-sign {
  background-color: #FFF;
  color: #1181ff;
}
.button-sign:hover,
.button-sign:focus {
  background-color: #1181ff;
  color: #FFF;
}
.button-sign:active {
  background-color: #1181ff;
  color: #f6ff00;
}
@media (min-width: 1200px) {
  .button-sign {
    margin-right: 60px;
  }
}
.button-learn {
  background-color: #16c5ff;
  color: #fff;
}
.button-learn:hover,
.button-learn:focus {
  background-color: #fff;
  color: #16c5ff;
}
.button-learn:active {
  background-color: #f6ff00;
  color: #16c5ff;
}
.button-learn--modify {
  color: #656565;
}
.button-learn--modify:hover,
.button-learn--modify:focus {
  background-color: #656565;
  color: #fff;
}
.button-learn--modify:active {
  background-color: #656565;
  color: #fff;
  -webkit-box-shadow: 1px 1px 20px #656565;
  box-shadow: 1px 1px 20px #656565;
}
.header__navigation-sms {
  display: none;
}
.header__navigation-sms--open {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 80, 213, 0.95);
}
.header__navigation-sms-list {
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 3;
  letter-spacing: 1px;
}
.header__navigation-sms-list-item a {
  color: #FFF;
  transition: all .2s linear;
}
.header__navigation-sms-list-item a:hover {
  color: #f6ff00;
  text-decoration: none;
}
.cmn-toggle-switch {
  display: block;
  position: fixed;
  top: 23px;
  right: 16px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 100;
}
@media (min-width: 992px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: #00f0ff;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #00f0ff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
header {
  position: relative;
  background-color: #0050D5;
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  header {
    padding-bottom: 0;
  }
}
.logo {
  text-align: center;
}
.logo a {
  color: #fff;
}
.logo a:hover,
.logo a:focus,
.logo a:active {
  color: #f6ff00;
}
.header__navigation {
  display: none;
  font-weight: 600;
  line-height: 1;
}
@media (min-width: 992px) {
  .header__navigation {
    font-size: 17px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .header__navigation {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .header__navigation {
    font-size: 19px;
  }
}
.header__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 1600px) {
  .header__navigation-list {
    text-align: left;
  }
}
.header__navigation-list li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 55px;
  padding-top: 20px;
}
.header__navigation-list li:last-child {
  margin-right: 0;
}
.header__navigation-list li a {
  text-decoration: none;
  color: #FFF;
  transition: all .15s linear;
}
.header__navigation-list li a:hover,
.header__navigation-list li a:focus,
.header__navigation-list li a:active {
  color: #f6ff00;
}
.header__search {
  text-align: center;
}
@media (min-width: 992px) {
  .header__search {
    text-align: left;
  }
}
.header__search-wrapper {
  display: inline-block;
  position: relative;
}
.header__search-area {
  position: relative;
  outline: none;
  width: 127px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  margin-top: 20px;
  padding-left: 22px;
  padding-right: 22px;
  height: 26px;
  font-size: 10.42px;
  transition: box-shadow 0.2s linear;
}
.header__search-area:hover,
.header__search-area:focus,
.header__search-area:active {
  -webkit-box-shadow: 1px 1px 20px #0017f4;
  box-shadow: 1px 1px 20px #0017f4;
}
.header__search-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  font-weight: 200;
  font-size: 25px;
  color: #FFF;
  left: -25px;
  top: 20px;
  cursor: pointer;
  transition: color .15s linear;
}
@media (min-width: 992px) {
  .header__search-icon {
    left: -30px;
    top: 22px;
  }
}
.header__search-icon:hover {
  color: #f6ff00;
}
.header__information {
  padding-top: 50px;
  color: #FFF;
}
@media (min-width: 992px) {
  .header__information {
    padding-top: 80px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header__information {
    padding-top: 110px;
  }
}
@media (min-width: 1600px) {
  .header__information {
    padding-top: 190px;
  }
}
.header__information-first-heading {
  font-size: 48px;
  text-transform: lowercase;
  font-weight: 300;
}
@media (min-width: 992px) {
  .header__information-first-heading {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .header__information-first-heading {
    font-size: 61px;
  }
}
@media (min-width: 1600px) {
  .header__information-first-heading {
    font-size: 72px;
  }
}
.header__information-second-heading {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (min-width: 992px) {
  .header__information-second-heading {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .header__information-second-heading {
    font-size: 61px;
  }
}
@media (min-width: 1600px) {
  .header__information-second-heading {
    font-size: 72px;
  }
}
.header__information-third-heading {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .header__information-third-heading {
    font-size: 24px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .header__information-third-heading {
    font-size: 28px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1600px) {
  .header__information-third-heading {
    font-size: 31.57px;
    margin-bottom: 80px;
  }
}
.header__information-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
  max-width: 800px;
}
@media (min-width: 992px) {
  .header__information-text {
    font-size: 15px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .header__information-text {
    font-size: 16px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1600px) {
  .header__information-text {
    font-size: 18.75px;
    margin-bottom: 90px;
  }
}
.header__image {
  padding-top: 60px;
}
.header__button-wrapper {
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  .header__button-wrapper {
    display: block;
  }
}
.description {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (min-width: 992px) {
  .description {
    padding-top: 100px;
    padding-bottom: 130px;
  }
}
@media (min-width: 1200px) {
  .description {
    padding-top: 115px;
    padding-bottom: 150px;
  }
}
@media (min-width: 1600px) {
  .description {
    padding-top: 125px;
    padding-bottom: 175px;
  }
}
.description__info-heading {
  position: relative;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  color: #282828;
  margin-bottom: 60px;
}
.description__info-heading:before {
  display: block;
  content: " ";
  position: absolute;
  height: 3px;
  width: calc(25%);
  background-color: #00BED4;
  top: 65px;
  left: 1px;
}
@media (min-width: 568px) {
  .description__info-heading:before {
    width: 124px;
    background-color: #00BED4;
  }
}
@media (min-width: 992px) {
  .description__info-heading:before {
    top: 70px;
  }
}
@media (min-width: 1200px) {
  .description__info-heading:before {
    top: 86px;
  }
}
.description__info-heading:after {
  display: block;
  content: " ";
  position: absolute;
  height: 3px;
  width: calc(75%);
  background-color: #dedede;
  top: 65px;
  left: calc(25%);
}
@media (min-width: 535px) {
  .description__info-heading:after {
    width: 381px;
    background-color: #dedede;
    left: 125px;
  }
}
@media (min-width: 992px) {
  .description__info-heading:after {
    top: 70px;
  }
}
@media (min-width: 1200px) {
  .description__info-heading:after {
    top: 86px;
  }
}
@media (min-width: 992px) {
  .description__info-heading {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .description__info-heading {
    font-size: 60px;
  }
}
@media (min-width: 1600px) {
  .description__info-heading {
    font-size: 66.67px;
  }
}
.description__info-text {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .description__info-text {
    font-size: 18px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .description__info-text {
    font-size: 20px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1600px) {
  .description__info-text {
    font-size: 23px;
    margin-bottom: 85px;
  }
}
@media (min-width: 992px) {
  .description__info-image {
    position: relative;
    top: 50px;
  }
}
@media (min-width: 1600px) {
  .description__info-image {
    top: 0;
  }
}
.quote {
  background: url(../img/bg/quote-bg-doctors.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.quote__text-wrapper {
  padding-top: 115px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  text-align: center;
  color: #FFF;
}
@media (min-width: 535px) {
  .quote__text-wrapper {
    padding-top: 135px;
    padding-bottom: 110px;
  }
}
@media (min-width: 768px) {
  .quote__text-wrapper {
    padding-top: 145px;
    padding-bottom: 115px;
  }
}
@media (min-width: 992px) {
  .quote__text-wrapper {
    padding-top: 180px;
    padding-bottom: 140px;
  }
}
@media (min-width: 1200px) {
  .quote__text-wrapper {
    padding-top: 225px;
    padding-bottom: 175px;
  }
}
@media (min-width: 1600px) {
  .quote__text-wrapper {
    padding-top: 240px;
    padding-bottom: 190px;
  }
}
.quote__text {
  font-size: 24px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .quote__text {
    font-size: 30px;
  }
}
@media (min-width: 1600px) {
  .quote__text {
    font-size: 36px;
  }
}
.quote__autor {
  font-size: 13px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .quote__autor {
    font-size: 14px;
  }
}
@media (min-width: 1600px) {
  .quote__autor {
    font-size: 15px;
  }
}
.service {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (min-width: 535px) {
  .service {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .service {
    padding-top: 110px;
    padding-bottom: 90px;
  }
}
@media (min-width: 992px) {
  .service {
    padding-top: 140px;
    padding-bottom: 130px;
  }
}
@media (min-width: 1200px) {
  .service {
    padding-top: 155px;
    padding-bottom: 200px;
  }
}
@media (min-width: 1600px) {
  .service {
    padding-top: 165px;
    padding-bottom: 220px;
  }
}
@media (min-width: 1800px) and (max-width: 2600px) {
  .bus {
    position: absolute;
    background: url(../img/content/sm/car-ambulance.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 200px;
    bottom: -20px;
    right: 0;
    animation: bus-dr-dr 2s ease-in;
  }
  .bus:hover {
    animation: bus-dr 2s ease-in;
    animation-fill-mode: forwards;
  }
}
.service__header {
  margin-bottom: 70px;
  text-align: center;
  position: relative;
}
.service__header:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 90%;
  left: 5%;
  top: 125px;
  background-color: #dedede;
}
@media (min-width: 552px) {
  .service__header:after {
    top: 95px;
  }
}
@media (min-width: 768px) {
  .service__header:after {
    width: 70%;
    left: 15%;
  }
}
@media (min-width: 992px) {
  .service__header:after {
    display: none;
  }
}
.service__header-heading {
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 30px;
  color: #000;
}
@media (min-width: 992px) {
  .service__header-heading {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .service__header-heading {
    font-size: 34px;
  }
}
@media (min-width: 1600px) {
  .service__header-heading {
    font-size: 37px;
  }
}
.service__subheading {
  font-size: 18px;
  font-weight: 500;
  color: #A1A1A0;
  line-height: 1;
}
@media (min-width: 992px) {
  .service__subheading {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .service__subheading {
    font-size: 23px;
  }
}
@media (min-width: 1600px) {
  .service__subheading {
    font-size: 25.6px;
  }
}
.service__spec {
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .service__spec {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .service__spec {
    margin-bottom: 0;
  }
}
.service__spec--blue {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.service__spec--blue:hover {
  animation: pulse-blue 1.5s infinite;
}
.service__spec--red {
  -webkit-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
}
.service__spec--red:hover {
  animation: pulse-red 1.5s infinite;
}
.service__icon {
  margin-bottom: 85px;
}
.service__spec-header {
  font-family: "Open Sans";
  margin-bottom: 75px;
  font-size: 22.55px;
  font-weight: bold;
  color: #5c5c5c;
}
.service__spec-information {
  font-family: "Open Sans";
  font-size: 16.67px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.5;
  color: #959595;
}
.ad-sign {
  background: url(../img/bg/ad-doctors.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 55px;
}
@media (min-width: 540px) {
  .ad-sign {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .ad-sign {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .ad-sign {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .ad-sign {
    padding-top: 90px;
    padding-bottom: 105px;
  }
}
@media (min-width: 1600px) {
  .ad-sign {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
.ad-sign__description {
  position: relative;
  z-index: 2;
  padding-top: 40px;
}
@media (min-width: 540px) {
  .ad-sign__description {
    padding-top: 50px;
  }
}
@media (min-width: 768px) {
  .ad-sign__description {
    padding-top: 70px;
  }
}
@media (min-width: 992px) {
  .ad-sign__description {
    padding-top: 80px;
  }
}
@media (min-width: 1200px) {
  .ad-sign__description {
    padding-top: 90px;
  }
}
@media (min-width: 1600px) {
  .ad-sign__description {
    padding-top: 110px;
  }
}
.ad-sign__img-wrapper {
  text-align: center;
  z-index: 2;
  position: relative;
}
@media (min-width: 1600px) {
  .ad-sign__img-wrapper {
    left: 100px;
  }
}
.ad-sign__description-heading {
  padding: 0;
  text-align: center;
  font-size: 22px;
  color: #FFF;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .ad-sign__description-heading {
    font-size: 24px;
    padding: 0 75px;
  }
}
@media (min-width: 1200px) {
  .ad-sign__description-heading {
    font-size: 26px;
  }
}
@media (min-width: 1600px) {
  .ad-sign__description-heading {
    font-size: 28.4px;
    margin-bottom: 80px;
    text-align: left;
  }
}
@media (max-width: 1600px) {
  .ad-sign__button-wrapper {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
@media (min-width: 1600px) {
  .ad-sign__button-wrapper {
    padding-left: 105px;
  }
}
.doctor-panel {
  padding-top: 50px;
  padding-bottom: 80px;
}
@media (min-width: 540px) {
  .doctor-panel {
    padding-top: 80px;
    padding-bottom: 110px;
  }
}
@media (min-width: 768px) {
  .doctor-panel {
    padding-top: 100px;
    padding-bottom: 135px;
  }
}
@media (min-width: 992px) {
  .doctor-panel {
    padding-top: 110px;
    padding-bottom: 150px;
  }
}
@media (min-width: 1200px) {
  .doctor-panel {
    padding-top: 120px;
    padding-bottom: 165px;
  }
}
@media (min-width: 1600px) {
  .doctor-panel {
    padding-top: 129px;
    padding-bottom: 175px;
  }
}
.doctors-panel__heading {
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  color: #303030;
  line-height: 1;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .doctors-panel__heading {
    margin-bottom: 90px;
    font-size: 54px;
  }
}
@media (min-width: 1200px) {
  .doctors-panel__heading {
    margin-bottom: 122px;
    font-size: 62.5px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .doctor-panel__doctors {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.doctor-panel__doctor-description {
  background-color: #0050D5;
  text-align: center;
  padding-bottom: 13px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-top: 1px dotted #fff;
}
@media (min-width: 992px) {
  .doctor-panel__doctor-description {
    margin: 0;
    margin-right: 10px;
    border: none;
  }
  .doctor-panel__doctor-description:last-child {
    margin-right: 0;
  }
}
.doctor-panel__doctor-description:last-child {
  margin-bottom: 0;
}
.doctor-panel__doctor-description img {
  margin-bottom: 23px;
}
@media (min-width: 472px) {
  .doctor-panel__doctor-description {
    width: 441px;
  }
}
.doctor-panel__doctor-spec {
  font-size: 31px;
  font-weight: 400;
  color: #FFF;
  margin: 0;
  line-height: 1;
}
.doctor-panel__doctor-name {
  font-size: 30.83px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
.doctor-panel__doctor-name a {
  color: #FFF;
  transition: color .15s linear;
}
.doctor-panel__doctor-name a:hover,
.doctor-panel__doctor-name a:focus,
.doctor-panel__doctor-name a:active {
  text-decoration: none;
  color: #f6ff00;
}
.package-service {
  padding-top: 50px;
  padding-bottom: 30px;
  background: url(../img/bg/package-service-doctors.png);
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  .package-service {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .package-service {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .package-service {
    padding-top: 94px;
    padding-bottom: 142px;
  }
}
.package-servise__heading-wrapper {
  margin-bottom: 70px;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .package-servise__heading-wrapper {
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .package-servise__heading-wrapper {
    margin-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .package-servise__heading-wrapper {
    margin-bottom: 140px;
  }
}
.package-service__row-wrapper {
  position: relative;
  z-index: 2;
}
.package-service__heading {
  margin: 0;
  line-height: 1;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 31px;
}
@media (min-width: 992px) {
  .package-service__heading {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .package-service__heading {
    font-size: 44px;
  }
}
@media (min-width: 1600px) {
  .package-service__heading {
    font-size: 49.6px;
  }
}
.package-service__heading-slogan {
  margin: 0;
  line-height: 1;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 1600px) {
  .package-service__heading-slogan {
    font-size: 22.6px;
  }
}
.package-servise__spec {
  position: relative;
  background-color: #FFF;
  padding: 85px 20px 35px;
  margin-bottom: 60px;
}
.package-servise__spec--mb0 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .package-servise__spec {
    padding: 100px 20px 35px;
  }
}
@media (min-width: 992px) {
  .package-servise__spec {
    padding: 120px 30px 55px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .package-servise__spec {
    padding: 140px 60px 65px;
  }
}
@media (min-width: 1600px) {
  .package-servise__spec {
    padding: 165px 80px 75px;
  }
}
.package-servise__spec:hover .fa-rotate-wrapper {
  color: #f6ff00;
  animation: scale 1s;
  animation-fill-mode: forwards;
}
.package-servise__spec-heading {
  margin: 0;
  line-height: 1;
  text-transform: capitalize;
  font-size: 24.6px;
  font-weight: 600;
  color: #535353;
  margin-bottom: 52px;
}
.package-servise__spec-description {
  margin: 0;
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
  color: #959595;
  margin-bottom: 42px;
}
.package-servise__spec-button {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  color: #fff;
  background-color: #0050d5;
  padding: 14px 30px 12px 35px;
  cursor: pointer;
  -webkit-border-radius: 20.69px;
  border-radius: 20.69px;
  transition: all .15s linear;
}
.package-servise__spec-button:hover,
.package-servise__spec-button:focus {
  background-color: #FFF;
  color: #0050d5;
  -webkit-box-shadow: 1px 1px 10px #0050D5;
  box-shadow: 1px 1px 10px #0050D5;
}
.package-servise__spec-button:active {
  background-color: #0050d5;
  color: #f6ff00;
}
.spec-icon {
  width: 78px;
  height: 78px;
  background-color: #62c6f8;
  font-size: 24px;
  position: absolute;
  top: -9%;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
  -webkit-border-radius: 15px 15px 0 15px;
  border-radius: 15px 15px 0 15px;
}
@media (min-width: 768px) {
  .spec-icon {
    top: -11%;
    left: 45%;
  }
}
@media (min-width: 992px) {
  .spec-icon {
    top: -8%;
    left: 36%;
  }
}
@media (min-width: 1200px) {
  .spec-icon {
    top: -7%;
    left: 40%;
    font-size: 30px;
  }
}
@media (min-width: 1600px) {
  .spec-icon {
    top: -7%;
    left: 44%;
  }
}
@media (max-width: 320px) {
  .spec-icon {
    top: -6%;
    left: 36%;
  }
}
.fa-rotate-wrapper {
  color: #FFF;
  transform: rotate(-45deg);
  position: absolute;
  top: 19px;
  left: 27px;
}
@media (min-width: 1200px) {
  .fa-rotate-wrapper {
    top: 15px;
    left: 26px;
  }
}
.latest-posts {
  background-color: #F9F5F5;
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .latest-posts {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .latest-posts {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .latest-posts {
    padding-top: 100px;
  }
}
@media (min-width: 1600px) {
  .latest-posts {
    padding-top: 120px;
  }
}
.latest-posts__heading {
  text-transform: capitalize;
  text-align: center;
  color: #333;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .latest-posts__heading {
    font-size: 54px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .latest-posts__heading {
    text-align: left;
    font-size: 62.5px;
    margin-bottom: 95px;
  }
}
@media (min-width: 768px) {
  .latest-posts__posts-wrapper {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.latest-posts__post {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 455px;
  background-color: #fff;
  padding: 11px 11px 28px;
  -webkit-box-shadow: 1px 1px 20px #bfbebe;
  box-shadow: 1px 1px 20px #bfbebe;
  cursor: pointer;
}
.latest-posts__post:last-child {
  margin-bottom: 0;
}
.latest-posts__post:hover,
.latest-posts__post:focus {
  animation: pulse-gray 1.5s infinite;
}
@media (min-width: 768px) {
  .latest-posts__post {
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .latest-posts__post {
    max-width: 360px;
    margin: 0;
  }
}
@media (min-width: 1600px) {
  .latest-posts__post {
    max-width: 455px;
  }
}
.latest-posts__post--d-none-small-screen {
  display: none;
}
@media (min-width: 1200px) {
  .latest-posts__post--d-none-small-screen {
    display: block;
  }
}
.latest-posts__post-img {
  margin-bottom: 32px;
}
.latest-posts__post-filling {
  padding-left: 15px;
}
@media (min-width: 1200px) {
  .latest-posts__post-filling {
    padding-left: 25px;
  }
}
.latest-posts__post-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 26px;
}
@media (min-width: 992px) {
  .latest-posts__post-heading {
    font-size: 17.3px;
  }
}
.latest-posts__post-description {
  font-size: 11.5px;
  font-weight: 500;
  margin-bottom: 32px;
  color: #525252;
}
@media (min-width: 992px) {
  .latest-posts__post-description {
    font-size: 12.85px;
  }
}
.latest-posts__post-description--smaller-margin {
  margin-bottom: 21px;
}
.latest-posts__post-addinfo {
  font-size: 12.85px;
}
.latest-posts__post-addinfo .date {
  display: inline-block;
  margin-right: 65px;
}
.latest-posts__post-addinfo .comments {
  display: inline-block;
}
.latest-posts__post-addinfo a {
  color: #b2b2b2;
}
.latest-posts__post-addinfo a:hover {
  color: #b2b2b2;
}
.contacts {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts__map iframe {
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .contacts__map iframe {
    width: 550px;
    height: 657px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .contacts__map iframe {
    width: 660px;
  }
}
@media (min-width: 1600px) {
  .contacts__map iframe {
    width: 886px;
    height: 641px;
  }
}
.contacts__contact {
  background-color: #0050D5;
  padding: 49px 40px 59px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 1;
  color: #FFF;
  /* webkit */
  /* Firefox 19+ */
  /* Firefox 18- */
  /* IE */
  /* webkit */
  /* Firefox 19+ */
  /* Firefox 18- */
  /* IE */
}
.contacts__contact input,
.contacts__contact textarea {
  outline-style: none;
  background-color: #3373DD;
  border: 0px;
  width: 100%;
  font-size: 19.37px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFF;
}
.contacts__contact input {
  margin-bottom: 13px;
  height: 36px;
}
.contacts__contact textarea {
  margin-bottom: 64px;
  height: 225px;
  resize: none;
}
.contacts__contact ::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}
.contacts__contact ::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.contacts__contact :-moz-placeholder {
  color: #FFF;
  opacity: 1;
}
.contacts__contact :-ms-input-placeholder {
  color: #FFF;
  opacity: 1;
}
.contacts__contact :focus::-webkit-input-placeholder {
  opacity: .3;
}
.contacts__contact :focus::-moz-placeholder {
  opacity: .3;
}
.contacts__contact :focus:-moz-placeholder {
  opacity: .3;
}
.contacts__contact :focus:-ms-input-placeholder {
  opacity: .3;
}
.contacts__contact-heading {
  text-align: center;
  font-size: 31.7px;
  margin-bottom: 18px;
}
.contacts__contact-text {
  text-align: center;
  font-size: 16.24px;
  margin-bottom: 55px;
}
.contacts__contact-button {
  cursor: pointer;
  width: 196px;
  height: 36px;
  background-color: #FFF;
  color: #0072ff;
  font-size: 19px;
  padding-right: 14px;
  text-align: right;
  line-height: 1.9;
  text-transform: capitalize;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.contacts__contact-button:hover,
.contacts__contact-button:focus,
.contacts__contact-button:active {
  -webkit-box-shadow: 0 0 10px #FFF;
  box-shadow: 0 0 10px #FFF;
  background-color: #0072ff;
}
.contacts__contact-button:hover,
.contacts__contact-button:focus {
  color: #FFF;
}
.contacts__contact-button:active {
  color: #f6ff00;
}
.contacts__contact-button-icon {
  position: absolute;
  width: 37px;
  height: 32px;
  background-color: #dddddd;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  top: 2px;
  left: 2px;
}
.contacts__contact-button-icon:before {
  display: block;
  content: "";
  width: 15px;
  height: 3px;
  position: absolute;
  background-color: #a0a0a0;
  top: 15px;
  left: 10px;
}
.contacts__contact-button-icon:after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  background-color: #a0a0a0;
  top: 13.5px;
  left: 23px;
}
