.doctor-panel{
	padding-top: 50px;
	padding-bottom: 80px;
	@media (min-width: 540px){
		padding-top: 80px;
		padding-bottom: 110px;
	}
	@media (min-width: 768px){
		padding-top: 100px;
		padding-bottom: 135px;
	}
	@media (min-width: 992px){
		padding-top: 110px;
		padding-bottom: 150px;
	}
	@media (min-width: 1200px){
		padding-top: 120px;
		padding-bottom: 165px;
	}
	@media (min-width: 1600px){
		padding-top: 129px;
		padding-bottom: 175px;
	}
}
.doctors-panel__heading{
	font-size: 48px;
	text-align: center;
	font-weight: 600;
	color: #303030;
	line-height: 1;
	margin-bottom: 70px;
	@media (min-width: 768px){
		margin-bottom: 90px;
		font-size: 54px;
	}

	@media (min-width: 1200px){
		margin-bottom: 122px;
		font-size: 62.5px;	
		text-align: left;
	}

}

.doctor-panel__doctors{
	@media(min-width: 992px){
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		}
}
.doctor-panel__doctor-description{
	background-color: #0050D5;
	text-align: center;
	padding-bottom: 13px;
	width: 100%;	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-top:1px dotted #fff;
	
	@media (min-width: 992px){
		margin: 0;
		margin-right: 10px;
		border: none;
		&:last-child{
			margin-right: 0;
		}
	}
	&:last-child{
		margin-bottom: 0;
		
	}
	img{
		margin-bottom: 23px;
	}
	
	@media (min-width: 472px){
		width: 441px;
	}
}


.doctor-panel__doctor-spec{
	font-size: 31px;
	font-weight: 400;
	color: #FFF;
	margin: 0;
	line-height: 1;
}
.doctor-panel__doctor-name{
	font-size: 30.83px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	a{
		color: #FFF;
		transition: color .15s linear;
		&:hover,&:focus,&:active{
			text-decoration: none;
			color: @yellow;
		}
	}
}