.package-service {
	padding-top: 50px;
	padding-bottom: 30px;
	background: url(../img/bg/package-service-doctors.png);
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	@media (min-width: 768px){
		padding-top: 70px;
		padding-bottom: 60px;
	}
	@media (min-width: 992px){
		padding-top: 80px;
		padding-bottom: 90px;
	}
	@media (min-width: 1200px){
		padding-top: 94px;
		padding-bottom: 142px;
	}
}
.package-servise__heading-wrapper{
	margin-bottom: 70px;
	position: relative;
	z-index: 2;
	@media (min-width: 768px){
		margin-bottom: 80px;
	}
	@media (min-width: 992px){
		margin-bottom: 100px;
	}
	@media (min-width: 1200px){
		margin-bottom: 140px;
	}
}
.package-service__row-wrapper{
	position: relative;
	z-index: 2;
}
.package-service__heading {
	margin: 0;
	line-height: 1;
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 600;
	color: #FFF;
	margin-bottom: 31px;
	@media (min-width: 992px){
		font-size: 40px;
	}
	@media (min-width: 1200px){
		font-size: 44px;
  	}
	@media (min-width: 1600px){
		font-size: 49.6px;
  	}
}
.package-service__heading-slogan {
	margin: 0;
	line-height: 1;
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	@media (min-width: 1600px){
		font-size: 22.6px;
  	}
}

.package-servise__spec {
	position: relative;
	background-color: #FFF;
	padding: 85px 20px 35px;
	margin-bottom: 60px;
	
	&--mb0{
		margin-bottom: 0;
	}
	@media (min-width: 768px){
		padding: 100px 20px 35px;
	}
	@media (min-width: 992px){
		padding: 120px 30px 55px;
		margin-bottom: 0;
	}
	@media (min-width: 1200px){
		padding: 140px 60px 65px;
	}
	@media (min-width: 1600px){
		padding: 165px 80px 75px;
	}
}

.package-servise__spec-heading {
	margin: 0;
	line-height: 1;
	text-transform: capitalize;
	font-size: 24.6px;
	font-weight: 600;
	color: #535353;
	margin-bottom: 52px;
}
.package-servise__spec-description {
	margin: 0;
	line-height: 2;
	font-size: 16px;
	font-weight: 400;
	color: #959595;
	margin-bottom: 42px;
}
.package-servise__spec-button {
	display: inline-block;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	text-transform: capitalize;
	color: #fff;
	background-color: #0050d5;
	padding: 14px 30px 12px 35px;
	cursor: pointer;
	-webkit-border-radius: 20.69px;
	        border-radius: 20.69px;
	transition: all .15s linear;
	&:hover,&:focus{
		background-color: #FFF;
		color: #0050d5;
		-webkit-box-shadow: 1px 1px 10px #0050D5;
		        box-shadow: 1px 1px 10px #0050D5;
	}
	&:active{
		background-color: #0050d5;
		color: @yellow;
	}
}
.spec-icon{
	width: 78px;
	height: 78px;
	background-color: #62c6f8;
	font-size: 24px;
	
	position: absolute;
	top: -9%;
	left: 42%;
	@media (min-width: 768px){
		top: -11%;
		left: 45%;
	}
	@media (min-width: 992px){
		top: -8%;
		left: 36%;
	}
	@media (min-width: 1200px){
		top: -7%;
		left: 40%;
		font-size: 30px;
	}
	@media (min-width: 1600px){
		top: -7%;
		left: 44%;
	}
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	transform:rotate(45deg);
	-webkit-border-radius: 15px 15px 0 15px;
	        border-radius: 15px 15px 0 15px;
	


	@media(max-width: 320px){
		top: -6%;
		left: 36%;
	}
}
.fa-rotate-wrapper{
	color: #FFF;
	transform: rotate(-45deg);
	position: absolute;
	
	top: 19px;
	left: 27px;
	@media (min-width: 1200px){
		top: 15px;
		left: 26px;
	}
}