.quote{
	background: url(../img/bg/quote-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.quote__text{
	padding-top: 240px;
	padding-bottom: 190px;
}
.quote__autor{
	font-size: 15px;
	font-weight: 500;
	color: #FFF;
}