.service{
	padding-top: 165px;
	padding-bottom: 220px;
}
.service__subheading{
	font-size: 25.6px;
	font-weight: 500;
	color: #A1A1A0;
	line-height: 1;
}
.service__header{
	margin-bottom: 70px;
}
.service__spec{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	transition: all .15s linear;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	&:hover{
		-webkit-box-shadow: 1px 1px 20px #1c92ff;
		        box-shadow: 1px 1px 20px #1c92ff;
	}
}
.service__icon{
	margin-bottom: 85px;
}
.service__spec-header{
	font-family: "Open Sans";
	margin-bottom: 75px;
	font-size: 22.55px;	
	font-weight: bold;
	color:#5c5c5c;
}
.service__spec-information{
	font-family: "Open Sans";
	font-size: 16.67px;	
	font-weight: 600;
	margin-bottom: 0;
	line-height: 1.5;
	color:#959595;
}